@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: snow;
}
h4{
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: snow;
}

h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: snow;
}
body{

    background-color: black;
}
h5{
    color: aliceblue;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

#responsive-image {  width: 100%;  height: auto; 
}
